section.hero {
    background: url("../img/herosectionbackground.jfif");
    @include background-image-size;
    }; 
 
  
  
header.header-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8rem;

    @include tablets {
        width: 100%;
        height: 5rem;
        background-color: #1968B1;
        margin-bottom: 8.3333rem;
    };
}

.header__phone-number {
    @include tablets {
        display: none;
    }
}
.menu {
    margin: 0 1.5rem;
flex-flow: wrap;

    @include tablets {
        display: none;
    }
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
};

.logo {
    margin-left:2.2222rem;
    margin-top:1.4444rem;


    @include tablets {
        margin-left: 1.6667rem;
        margin-top: 1.4444rem;
        margin-bottom: 1.4444rem;
    }
}

.menu-item {
    margin-right:0.8333rem;
    margin-top:1.4444rem;
}

.menu-link {
    color: white;
    line-height: 138%;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.header-top-contacts {

    @include tablets {
        display: none;
    };
    font-weight: 700;
    font-size: 1.2222rem;
    line-height: 1rem;
    margin-top:1.4444rem;
    margin-right:2.2222rem;
    position: relative;
}

.header-top-contacts::before {
    content: url("/img/phone.png") ;
    display: inline-flex;
    position: absolute;
    left:-1.1111rem;
    flex-shrink: 0;
}

.phone-number {
    color:white;
    text-decoration: none;
}



.hero-title-section {        
    margin-left: 2rem;

    @include tablets {
        width: 100%;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
    };
    width: 46%;
    margin-top: 2.2222rem;
}

.hero-main-slogan {
    @include big-headlines;
    line-height: 3.1667rem;
    color:white;
    margin-top: 4.4444rem;
    max-width: 32.2222rem;
    margin-bottom: 0.5556rem;

    @include tablets {
        line-height: 3.1667rem ;
        margin-bottom: -15px;

    }

    @include phones {
        font-size: 2.2222rem;
        margin-right: 3rem;
    }
}

.hero-main-slogan-slogan {

    @include tablets {
        padding-right:1rem;
        padding-left:1rem;
        font-size: 1.1667rem;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 2rem;

        @include phones {
            margin-right: 3rem;
        }

        
    };
    @include sub-headlines;
    color: white;
    margin-top: 2.2222rem;
    max-width: 21.1111rem;
    margin-bottom: 3rem;
}


.btn-title-section {
margin-bottom: 12vw;

@include phones {
    
    margin-right: 3rem;
}
}





.hero-icons-section {
    
    @include tablets {
            display: none;
        }

}

.features {
    display: flex;
    justify-content: left;
    align-items: center;
    }

    .features-item {
        display: flex;
        justify-content: left;
    align-items:center;
    }

    .features-icon {
        margin-right: 0.5556rem;
        width: 1.9444rem;
        height: 1.9444rem;
    
    &:nth-child(1) {
        margin-left:2.2222rem;
    }
}
    .features-text {
        color: white;
        font-weight: 700;
        line-height: 0.8889rem;
        max-width: 5rem;
    }
 





















.hamburger {
    width: 24px;
    flex-direction: column;
    justify-content: space-between;
    height:20px;
    display: none;

    @include tablets {
        display: block;
        width: 1.5rem;
        height: 1.6667rem;
        margin-top: 1.8889rem;
        margin-right: 2rem;
        margin-bottom: 1.8889rem;
    };
}

.hamburger__cutlet {
    display: block;
    background-color: white;
    height:4px;
    border-radius: 10px;
    margin-bottom: 0.2778rem;
}