.fixed-menu {
    position: fixed;
    top:20%;
    right: 4%;
    z-index: $z-fixed-menu;
}

.fixed-menu-item {
    margin-bottom: 5px;

    &-active {
        .fixed-menu-link{border-color: white;}
    }
}

.fixed-menu-link {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &::before{
        content: "";
         display: block; 
         width: 6px; 
         height: 6px;
          background-color: white;
          border-radius: 50%; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
    }
}
