.fixed-menu {
    position: fixed;
    top:40%;
    right: 4%;
    z-index: $z-fixed-menu;

    @include tablets {
    display: none;
    };
}

.fixed-menu-item {
    margin-bottom: 0.2778rem;

    &-active {
        .fixed-menu-link{border-color: white;}
    }
}

.fixed-menu-link {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    display: block;
    position: relative;

    &::before{
        content: "";
         display: block; 
         width: 0.3333rem; 
         height: 0.3333rem;
          background-color: white;
          border-radius: 50%; 
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
    }
}
