section.footer {
    width: 100vw;
    max-height: 5.2222rem;
    min-height: 0;

    @include tablets {
        max-height: 5.9444rem;
    min-height: 0;
    }

    @include phones {
        max-height: 8.3889rem;
        min-height: 0;
    }

}

.footer__info {
    width: 100%;
display: flex;
align-items:center;
justify-content: space-between;
margin-top: 2rem;


@include tablets {
    margin-top: 2rem;
    justify-content: space-around;

}

    @include phones {
        flex-direction: column;
        justify-content: center;
    }

}

.footer-contacts {
    margin-left: 2rem;

    @include tablets {
        margin-left: 0;
    
    }
}

.footer__address {
    font-size: 1.1667rem;
    line-height: 95%;
    color: black;
    margin-left: 5rem;  
    margin-bottom: 1.5rem; 
     
    @include tablets {
        margin-left: 2rem;

    }
    @include phones {
        margin-left: 1rem;
    }
}
.footer__call {
        margin-left: 6rem;   
        position: relative;

        @include tablets {
            margin-left: 3rem;
    
        }

        @include phones {
            margin-left: 6rem;
            margin-bottom: .5rem;
        }


}
.footer__phone-number {
    font-size: 1.1667rem;
    line-height: 83%;
    color: black; 
    text-decoration: none;
}
    
.footer__call::before {
    content: url("../img/phone2.png") ;
    position: absolute;
    left:-1.1111rem;
    flex-shrink: 0;
};





