html {
font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;  
    };

    @include phones {
        font-size:$baseFontSize - 2px;  
    };
} 
 
html,body {
    height: 100%;
}

body {
    font-family: "Allegreya Sans", Arial, Helvetica, sans-serif;
    line-height:21,6px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    position:relative;
}
 
.wrapper {
    position:relative;
    width:100%;
    min-height: 100%;
    overflow: hidden;
}
 
.container {
    max-width: $containerWidth;
    margin: 0 auto;
    width: 100%;
    
};
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin:0;
li {list-style: none;}
    }

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.standard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin background-image-size {
    background-size: cover; 
    width: 100%;
  }

  @mixin sub-headlines {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3889rem;
  }

  @mixin big-headlines {
    font-weight: 700;
    font-size: 2.6667rem;
      }

@mixin regular-lines {
    line-height: 1.2222rem;
    font-weight: 400;
    color: white;
}

@mixin center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    height: 100vh;
    min-height: 50rem;}



