.sprite {
    margin-right: 4rem;

    @include tablets {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 4rem;
        margin-right: 2rem;


    }

    @include phones {
        margin-left: 5rem;
    }
}

.sprite-item {
    width: 20px;
    height: 30px;
    margin-right:10px;
}

.sprite__link {
    text-decoration: none;
}