.section__title {
    font-weight: 700;
    font-size: 2.6667rem;
    line-height: 3.2222rem;

    @include phones {
        font-size: 2.2222rem;
    line-height: 2rem;
        };
}  

.player {
    width: 36.6667rem;
    height: 21.6667rem;
    position: relative;

}

.player__wrapper {
        position: relative;
        width: 36.6667rem;
        height: 21.6667rem;
}

 .player__splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: url("../img/splash.png")  center center/cover no-repeat;
    display: block;
} 

.player__splash-off {
    display: none;
}

.player__controls {
    width: 36.6667rem;
height: 2rem;
background-color:#404040;
position: absolute;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1rem;
position: relative;
}

.player__bigbtn {
    display: block;
    width: 76px;
    height: 110px;
    position: absolute;
    top:-258px;
    right:276px;
    background: url("../img/videobigbtn.png") center center/cover no-repeat;

}

.player__start {
    background: url("../img/play.png") center center/cover no-repeat;
    width: 12px;
        height: 20px;
}
.player__end {
    background: url("../img/pause.png") center center/cover no-repeat;
    width: 12px;
        height: 20px;
        display: none; 
        background-color:#404040;
        position: relative;
       // left:20px;

}  

.player__duration {
    background: url("../img/videoduration.png") center center/cover no-repeat;
    width: 450px;
        height: 8px;
        position: relative;
}
.player__duration-point {
            width: 15px;
        height: 15px;
        content: "";
        display: block;
        position: absolute;
        background: url("/img/playerdurationpoint.png") center center/cover no-repeat;
        bottom: -3px;
        }


.player__sound {
    background: url("../img/sound.png") center center/cover no-repeat;
    width: 12px;
        height: 20px;
}

.sound__duration {
    background: url("../img/soundvolume.png") center center/cover no-repeat;
    width: 38px;
        height: 8px;
        position: relative;
}

.sound__duration-point {
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    background: url("/img/playerdurationpoint.png") center center/cover no-repeat;
    bottom: -3px;
}


.disappear {
    display: none;
}